<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Haven Heights{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/main.css' %}">
</head>
<body>
    <header>
        <h1>Haven Heights</h1>
        <br>
        <hr>
        <br>
        <p>Welcome to Haven Heights, your gateway to heavenly bliss. Immerse yourself in an endless array of sheer class and elegance exhibited by our state-of-the-art exquisite properties that span a wide field of options. You are literally just spoilt for choice!!It doesn't get any better than this</p>
    </header>
    <nav>
        <ul>
<!--        <li><a href="{% url 'home' %}">Home</a></li>-->
            <li><a href="{% url 'listings' %}">Listings</a></li>
        </ul>
    </nav>
    <main class="container">
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Haven Heights</p>
    </footer>
</body>
</html>
